.menu {
    &__item {
        background-color: #fff;
        border-radius: 8px;
        box-shadow: 5px 5px 45px rgba(256, 256, 256, .1);
        margin-bottom: 40px;
        margin-right: 40px;
        min-height: 400px;
        padding: 20px;
        width: 350px;

        a {
            color: #000;
            text-decoration: none;
        }
    }

    &__title {
        font-size: 22px;
        margin-bottom: 20px;
        text-align: center;
    }

    &__img {
        height: 240px;
        margin-bottom: 20px;
        object-fit: cover;
        transform: translateX(-20px);
        width: calc(100% + 40px);
    }

    &__category,
    &__price {
        font-size: 18px;
        font-weight: 300;
        margin-bottom: 10px;

        span {
            font-weight: 700;
        }
    }

    &__btn {
        background-color: #29a745;
        border-radius: 4px;
        border: none;
        color: #fff;
        cursor: pointer;
        font-size: 16px;
        height: 40px;
        width: 150px;
    }
}